html,
body {
  font-family: Arial, Helvetica, sans-serif;
}

.gradient-custom {
  background: rgba(255, 255, 255, 0.5) url(../assets/img/background.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  margin: 0;
  padding: 0;

}

.logo {
  height: 130px;
  width: 130px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  font-size: 30px;
  text-align: center;
}

.btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
