html,
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  display: flex;
}

.content-small {
  background-color: #f0f0f0;
  padding: 50px;
  margin-top: 50px;
  margin-left: 25px;
  margin-right: 25px;
  width: calc(100% - 320px);
  height: 320px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.content-medium {
  background-color: #f0f0f0;
  padding: 50px;
  margin-top: 50px;
  margin-left: 25px;
  margin-right: 25px;
  width: calc(100% - 320px);
  height: 420px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.content-large {
  background-color: #f0f0f0;
  padding: 30px 50px;
  margin: 25px;
  width: calc(100% - 320px);
  height: auto;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
}

p {
  font-size: 25px;
}

.text-forecasting {
  font-size: 20px;
}

.form-control-custom-A {
  margin-left: 430px;
}

.form-control-custom-B {
  margin-left: 320px;
}

.form-control-custom-C {
  margin-left: 230px;
}

.table thead th {
  position: sticky;
  top: 0;
  background-color: #dcdcdc;
  border-bottom: none;
  vertical-align: middle !important;
}

.scrollable-table-container {
  overflow-y: scroll;
  max-height: 380px;
  background-color: #ececec;
}

.scrollable-table {
  overflow-y: scroll;
  max-height: 400px;
  background-color: #ececec;
}

.align-middle {
  vertical-align: middle !important;
}

.input-data {
  width: 350px;
  padding: 6px 12px;
  margin-bottom: 16px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.input-data-forecasting {
  width: 250px;
  padding: 6px 12px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.input-data-label {
  display: block;
  margin-bottom: 8px;
  font-size: 18px;
}

.input-group .bi {
  position: absolute;
  right: 0px;
  top: 20px;
  transform: translateY(-50%);
  padding: 6px 12px;
  font-size: 1rem;
  line-height: 1.5;
}

select.form-select {
  width: 350px;
  padding: 6px 12px;
  margin-bottom: 16px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.select-wrapper {
  position: relative;
  width: 350px;
}

.custom-select {
  position: relative;
  border: 1px solid #ced4da;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
}

.selected-option {
  padding: 6px 12px;
}

.options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  border-top: 1px solid #ced4da;
  background-color: #fff;
  display: none;
}

.option {
  padding: 6px 12px;
  cursor: pointer;
}

.option:hover {
  background-color: #f0f0f0;
}

.beta {
  margin-right: 10px;
}

.btn-custom {
  background-color: #7066e0 !important;
  color: #fff !important;
}

.btn-custom:hover {
  background-color: #655cc9 !important;
}

.import-button {
  width: 150px;
}

.data-aktual {
  margin-bottom: 120px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.grid-item {
  background-color: #e0f4ff;
  padding: 6px 12px;
  border: 1px solid #87c4ff;
  border-radius: 3px;
  width: 420px;
  font-size: 16px;
}

.button-count {
  margin-left: 20px;
  margin-top: 35px;
}

.custom-icon-style {
  font-size: 35px;
  color: black;
}

.gutter-container {
  padding-top: 20px;
}

.gutter {
  margin-top: 10px;
  color: white;
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.gutter-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.gutter-item b {
  font-size: 32px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.gutter-item p {
  font-size: 14px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 0px;
}

.gutter-item p.sub {
  margin-bottom: 10px; 
}

.col-3:nth-child(1) .gutter {
  background-color: #E8751A;
  height: 110px;
}

.col-3:nth-child(2) .gutter {
  background-color: #87A922;
  height: 110px;
}

.col-3:nth-child(3) .gutter {
  background-color: #9B3675;
  height: 110px;
}

.col-3:nth-child(4) .gutter {
  background-color: #006A71;
  height: 110px;
}

.gutter-item i.icon-gutter-1 {
  position: absolute;
  top: -15px;
  right: -50px;
  color: white;
}

.gutter-item i.icon-gutter-2 {
  position: absolute;
  top: -15px;
  right: -55px;
  color: white;
}

.gutter-item i.icon-gutter-3 {
  position: absolute;
  top: 0px;
  right: -30px;
  color: white;
}
