html,
body {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
}

.content {
  background-color: #dce6eb;
  padding: 50px;
  margin-top: 50px;
  margin-left: 25px;
  margin-right: 25px;
  width: calc(100% - 320px);
  height: 300px;
  border-radius: 0.75rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.content-container {
  background-color: #dce6eb;
  padding: 50px;
  margin: 50px 25px;
  width: calc(100% - 320px);
  height: auto;
  border-radius: 0.75rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

p {
  font-size: 25px;
}

.form-control {
  margin-left: 400px;
}

.table thead th {
  position: sticky;
  top: 0;
  background-color: #f7f7f7;
  border-bottom: none;
}

.scrollable-table-container {
  overflow-y: scroll;
  max-height: 300px;
}

.align-middle {
  vertical-align: middle !important;
}

.input-data {
  width: 350px;
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ced4da;
  border-radius: 0.3rem;
}

.input-data-label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 18px;
}
