html,
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  display: flex;
}

.content-small {
  background-color: #f0f0f0;
  padding: 50px;
  margin-top: 50px;
  margin-left: 25px;
  margin-right: 25px;
  width: calc(100% - 320px);
  height: 320px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.content-medium {
  background-color: #f0f0f0;
  padding: 50px;
  margin-top: 50px;
  margin-left: 25px;
  margin-right: 25px;
  width: calc(100% - 320px);
  height: 420px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.content-large {
  background-color: #f0f0f0;
  padding: 30px 50px;
  margin: 25px;
  width: calc(100% - 320px);
  height: auto;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
}

p {
  font-size: 25px;
}

.text-forecasting {
  font-size: 20px;
}

.form-control {
  margin-left: 400px;
}

.table thead th {
  position: sticky;
  top: 0;
  background-color: #dcdcdc;
  border-bottom: none;
  vertical-align: middle !important;
}

.scrollable-table-container {
  overflow-y: scroll;
  max-height: 380px;
  background-color: #ececec;
}

.align-middle {
  vertical-align: middle !important;
}

.input-data {
  width: 350px;
  padding: 6px 12px;
  margin-bottom: 16px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.input-data-forecasting {
  width: 250px;
  padding: 6px 12px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.input-data-label {
  display: block;
  margin-bottom: 8px;
  font-size: 18px;
}

select.form-select {
  width: 350px;
  padding: 6px 12px;
  margin-bottom: 16px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.select-wrapper {
  position: relative;
  width: 350px;
}

.custom-select {
  position: relative;
  border: 1px solid #ced4da;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
}

.selected-option {
  padding: 6px 12px;
}

.options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  border-top: 1px solid #ced4da;
  background-color: #fff;
  display: none;
}

.option {
  padding: 6px 12px;
  cursor: pointer;
}

.option:hover {
  background-color: #f0f0f0;
}

.beta {
  margin-right: 10px;
}
